In [19]:
sales = 2                        
LG_com = 0                                         

m_day = "Today you earned: £"
d_pay = 92 

if LG_com == 0:
    LG_com = 0
else: 
    if LG_com > 4: 
        LG_com = 10
    else:
        LG_com = LG_com * 2.5

if sales == 0:
    sales = 0
else: 
    if sales > 2: 
        sales = sales * 10 + 20
    else:
        sales = sales * 20
print(m_day, d_pay + LG_com + sales, "\n - Please update the appropriate day below")

Today you earned: £ 132
 - Please update the appropriate day below

In [20]:
d1 = 172                        
d2 = 112
d3 = 132
d4 = 0
d5 = 0
d6 = 0

m_week = "This week you earned: £"

if d6 >= 92:
    print(m_week, d1 + d2 + d3 + d4 + d5 + d6 + 100 + 25)
else:
    if d5 >= 92:
        print(m_week, d1 + d2 + d3 + d4 + d5 + 50 + 25) 
    else:
        print(m_week, d1 + d2 + d3 + d4)

print(" - Please update the appropriate week below")

This week you earned: £ 416
 - Please update the appropriate week below

In [23]:
w1 = 416                  
w2 = 0
w3 = 0
w4 = 0

m_month = "This month you've earned: £"
m_tax = "If you include tax (assumed at 12.5%) you'll be paid: £"

if w3 >= 535:
    m_total = w1 + w2 + w3 + w4 + 150
else: 
    m_total = w1 + w2 + w3 + w4
print(m_month, m_total)
print(m_tax, m_total*0.875)

This month you've earned: £ 416
If you include tax (assumed at 12.5%) you'll be paid: £ 364.0